[submodule "kafka"]
	path = kafka
	url = https://github.com/qishenonly/kafka.git
[submodule "logger"]
	path = logger
	url = https://github.com/qishenonly/logger.git
[submodule "rocketmq"]
	path = rocketmq
	url = https://github.com/qishenonly/rocketmq.git
[submodule "retry"]
	path = retry
	url = https://github.com/qishenonly/retry.git
